body{
    background-color:black;
}
h1{
    font-size: 50px;
    font-family: Tahoma;
}
me1{
    font-family: Tahoma;
    font-size: 35px;
}
me2{
    font-family: Tahoma;
    font-size: 35px;
}
me3{
    font-family: Tahoma;
    font-size: 35px;
    
}
h2{
    font-size: 45px;
    font-family: Tahoma;
}
h3{
    font-size: 25px;
    font-family: Tahoma;
}
.skill
{
    display: inline-block;
    font-size: 20px;
    width: 28%;
    padding: 10px 10px;
    text-align: center;
    font-family: Tahoma;
}
.hobby
{
    display: inline-block;
    font-size: 20px;
    width: 28%;
    padding: 10px 10px;
    text-align: center;
    font-family: Tahoma;

}